<!DOCTYPE html>
<html>
  <head>
    <title>Battletech: A Time of War</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <style>
input[type="number"] {
  width: 70px
}
    </style>
    <script language="javascript" type="text/javascript">
      <!--
function w3_open() {
  document.getElementById("menuSidebar").style.display = "block";
};
function w3_close() {
  document.getElementById("menuSidebar").style.display = "none";
};
      //-->
    </script>
  </head>
  <body>
    <div class="container">
      <header class="w3-center w3-red">
        <h1>Battletech: A Time of War Character Sheet</h1>
      </header>
      <nav class="w3-teal"><!-- Menu -->
        <div class="w3-sidebar w3-bar-block w3-border-right" style="display: none" id="menuSidebar">
          <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
          <input class="w3-bar-item w3-button w3-text-black" type="button" value="Print" onclick="window.print()" />
        </div>
        <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">Menu</button>
      </nav>
      <article>
        <div id="character"><!-- Character Sheet -->
          <div class="w3-row w3-indigo" id="character_personal-data"><!-- Personal Data -->
            <div class="w3-half w3-container"><!-- Left Side -->
              <div><!-- Name -->
                <text>Name: </text>
                <textarea rows="1" cols="15" id="character_personal-data_character-name">Randy Savage</textarea>
              </div>
              <div class="w3-row">
                <div class="w3-half"><!-- Height -->
                  <text>Height(cm): </text>
                  <input type="number" name="height" value="0" id="character_personal-data_height" />
                  <text>cm</text>
                </div>
                <div class="w3-half"><!-- Weight -->
                  <text>Weight(kg): </text>
                  <input type="number" name="weight" value="0" id="character_personal-data_weight" />
                  <text>kg</text>
                </div>
              </div>
              <div class="w3-row">
                <div class="w3-half"><!-- Hair -->
                  <text>Hair: </text>
                  <textarea rows="1" cols="5" id="character_personal-data_hair-color">Brown</textarea>
                </div>
                <div class="w3-half"><!-- Eyes -->
                  <text>Eyes: </text>
                  <textarea rows="1" cols="5" id="character_personal-data_eye-color">Brown</textarea>
                </div>
              </div>
            </div>
            <div class="w3-half w3-container"><!-- Right Side -->
              <div><!-- Player -->
                <text>Player: </text>
                <textarea rows="1" cols="15" id="character_personal-data_player-name">Phillip Dudley</textarea>
              </div>
              <div><!-- Affiliation -->
                <text>Affiliation: </text>
                <textarea rows="1" cols="15" id="character_personal-data_affiliation">Federated Suns</textarea>
              </div>
              <div><!-- Extra -->
                <text>Extra: </text>
                <textarea rows="1" cols="15" id="character_personal-data_extra">He likes big 'mechs</textarea>
              </div>
            </div>
          </div>
          <div class="w3-row"><!-- Attributes, Traits, Combat Data -->
            <div class="w3-half w3-row"><!-- Attributes, Traits -->
              <div class="w3-orange"><!-- Attributes -->
                <text>Attributes</text>
                <div class="w3-row w3-border"><!-- Title Row -->
                  <text class="w3-quarter">Attribute</text>
                  <text class="w3-quarter">Score</text>
                  <text class="w3-quarter">Link</text>
                  <text class="w3-quarter">XP</text>
                </div>
                <div class="w3-row w3-border"><!-- Strength -->
                  <text class="w3-quarter">STR</text>
                  <div class="w3-quarter">
                    <input type="number" name="str-score" value="0" id="character_attributes_str_score" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="str-link" value="0" id="character_attributes_str_link" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="str-exp" value="0" style="width: 90px" id="character_attributes_str_exp" />
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Body -->
                  <text class="w3-quarter">BOD</text>
                  <div class="w3-quarter">
                    <input type="number" name="bod-score" value="0" id="character_attributes_bod_score" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="bod-link" value="0" id="character_attributes_bod_link" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="bod-exp" value="0" style="width: 90px" id="character_attributes_bod_exp" />
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Reflex-->
                  <text class="w3-quarter">RFL</text>
                  <div class="w3-quarter">
                    <input type="number" name="rfl-score" value="0" id="character_attributes_rfl_score" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="rfl-link" value="0" id="character_attributes_rfl_link" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="rfl-exp" value="0" style="width: 90px" id="character_attributes_rfl_exp" />
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Dexterity -->
                  <text class="w3-quarter">DEX</text>
                  <div class="w3-quarter">
                    <input type="number" name="dex-score" value="0" id="character_attributes_dex_score" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="dex-link" value="0" id="character_attributes_dex_link" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="dex-exp" value="0" style="width: 90px" id="character_attributes_dex_exp" />
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Intelligence -->
                  <text class="w3-quarter">INT</text>
                  <div class="w3-quarter">
                    <input type="number" name="int-score" value="0" id="character_attributes_int_score" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="int-link" value="0" id="character_attributes_int_link" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="int-exp" value="0" style="width: 90px" id="character_attributes_int_exp" />
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Will -->
                  <text class="w3-quarter">WIL</text>
                  <div class="w3-quarter">
                    <input type="number" name="wil-score" value="0" id="character_attributes_wil_score" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="wil-link" value="0" id="character_attributes_wil_link" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="wil-exp" value="0" style="width: 90px" id="character_attributes_wil_exp" />
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Charisma -->
                  <text class="w3-quarter">CHA</text>
                  <div class="w3-quarter">
                    <input type="number" name="cha-score" value="0" id="character_attributes_cha_score" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="cha-link" value="0" id="character_attributes_cha_link" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="cha-exp" value="0" style="width: 90px" id="character_attributes_cha_exp" />
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Edge -->
                  <text class="w3-quarter">EDG</text>
                  <div class="w3-quarter">
                    <input type="number" name="edg-score" value="0" id="character_attributes_edg_score" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="edg-link" value="0" id="character_attributes_edg_link" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="edg-exp" value="0" style="width: 90px" id="character_attributes_edg_exp" />
                  </div>
                </div>
              </div>
              <div class="w3-green"><!-- Traits -->
                <text>Traits</text>
                <div class="w3-row w3-border"><!-- Title Row -->
                  <text class="w3-quarter">Trait</text>
                  <text class="w3-quarter">TP</text>
                  <text class="w3-quarter">Page Ref_</text>
                  <text class="w3-quarter">XP</text>
                </div>
                <div class="w3-row w3-border"><!-- Traits -->
                  <div class="w3-quarter">
                    <textarea rows="1" cols="8" id="character_traits_1">Farting</textarea>
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="trait_1_tp" value="0" id="character_traits_1_tp" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="trait_1_page" value="0" id="character_traits_1_page" />
                  </div>
                  <div class="w3-quarter">
                    <input type="number" name="trait_1_exp" value="0" style="width: 90px" id="character_traits_1_exp" />
                  </div>
                </div>
              </div>
            </div>
            <div class="w3-half w3-row w3-border w3-yellow"><!-- Combat Data -->
              <text>Combat Data</text>
              <div><!-- Conditiion Monitor -->
                <text>Condition Monitor</text>
                <div><!-- Standard Damage -->
                  <text>Standard Damage: </text>
                  <input type="number" name="std-damage" value="40" id="character_combat-data_standard-damage" />
                </div>
                <div><!-- Fatigue Damage -->
                  <text>Fatigue Damage: </text>
                  <input type="number" name="fat-damage" value="40" id="character_combat-data_fatigue-damage" />
                </div>
                <div class="w3-row">
                  <div class="w3-half"><!-- Stuned? -->
                    <text>Stun: </text>
                    <input type="checkbox" name="stunned" value="stunned" id="character_combat-data_stunned">
                  </div>
                  <div class="w3-half"><!-- Unconcious? -->
                    <text>Unconcious: </text>
                    <input type="checkbox" name="unconcious" value="unconcious" id="character_combat-data_unconcious">
                  </div>
                </div>
              </div>
              <div class="w3-row w3-border"><!-- Movement -->
                <div>
                  <text>Movement (Meters per Turn)</text>
                </div>
                <div class="w3-half"><!-- Walk, Run/Evade, Sprint -->
                  <div><!-- Walk -->
                    <text>Walk: </text>
                    <input type="number" name="movement-walk" value="0" id="character_movement_walk" />
                  </div>
                  <div><!-- Run/Evade -->
                    <text>Run/Evade: </text>
                    <input type="number" name="movement-run" value="0" id="character_movement_run" />
                  </div>
                  <div><!-- Sprint -->
                    <text>Sprint: </text>
                    <input type="number" name="movement-sprint" value="0" id="character_movement_sprint" />
                  </div>
                </div>
                <div class="w3-half"><!-- Climb, Crawl, Swim -->
                  <div><!-- Climb -->
                    <text>Climb: </text>
                    <input type="number" name="movement-climb" value="0" id="character_movement_climb" />
                  </div>
                  <div><!-- Crawl -->
                    <text>Crawl: </text>
                    <input type="number" name="movement-crawl" value="0" id="character_movement_crawl" />
                  </div>
                  <div><!-- Swim -->
                    <text>Swim: </text>
                    <input type="number" name="movement-swim" value="0" id="character_movement_swim" />
                  </div>
                </div>
              </div>
              <div class="w3-border"><!-- Personal Armor -->
                <div>
                  <text>Personal Armor</text>
                </div>
                <div class="w3-row w3-border"><!-- Title Row -->
                  <text class="w3-quarter">Armor</text>
                  <text class="w3-quarter">Location</text>
                  <text class="w3-quarter">Armor Type</text>
                  <text class="w3-quarter">BAR(M/B/E/X)</text>
                </div>
                <div class="w3-row w3-border"><!-- Armor Slot 1 -->
                  <text class="w3-quarter" id="character_armor_1_name">Main</text>
                  <text class="w3-quarter" id="character_armor_1_location">Torso</text>
                  <div class="w3-quarter">
                    <textarea rows="1" cols="10" id="character_armor_1_type">-</textarea>
                  </div>
                  <div class="w3-quarter" id="character_armor_1_bar">
                    <textarea rows="1" cols="1" id="character_armor_1_bar_m">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_1_bar_b">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_1_bar_e">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_1_bar_x">-</textarea>
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Armor Slot 2 -->
                  <div class="w3-quarter">
                    <textarea rows="1" cols="10" id="character_armor_2_name">-</textarea>
                  </div>
                  <div class="w3-quarter">
                    <textarea rows="1" cols="10" id="character_armor_2_location">-</textarea>
                  </div>
                  <div class="w3-quarter">
                    <textarea rows="1" cols="10" id="character_armor_2_type">-</textarea>
                  </div>
                  <div class="w3-quarter" id="character_armor_2_bar">
                    <textarea rows="1" cols="1" id="character_armor_2_bar_m">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_2_bar_b">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_2_bar_e">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_2_bar_x">-</textarea>
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Armor Slot 3 -->
                  <div class="w3-quarter">
                    <textarea rows="1" cols="10" id="character_armor_3_name">-</textarea>
                  </div>
                  <div class="w3-quarter">
                    <textarea rows="1" cols="10" id="character_armor_3_location">-</textarea>
                  </div>
                  <div class="w3-quarter">
                    <textarea rows="1" cols="10" id="character_armor_3_type">-</textarea>
                  </div>
                  <div class="w3-quarter" id="character_armor_3_bar">
                    <textarea rows="1" cols="1" id="character_armor_3_bar_m">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_3_bar_b">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_3_bar_e">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_3_bar_x">-</textarea>
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Armor Slot 4 -->
                  <div class="w3-quarter">
                    <textarea rows="1" cols="10" id="character_armor_4_name">-</textarea>
                  </div>
                  <div class="w3-quarter">
                    <textarea rows="1" cols="10" id="character_armor_4_location">-</textarea>
                  </div>
                  <div class="w3-quarter">
                    <textarea rows="1" cols="10" id="character_armor_4_type">-</textarea>
                  </div>
                  <div class="w3-quarter" id="character_armor_4_bar">
                    <textarea rows="1" cols="1" id="character_armor_4_bar_m">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_4_bar_b">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_4_bar_e">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_armor_4_bar_x">-</textarea>
                  </div>
                </div>
              </div>
              <div class="w3-border"><!-- Weapons -->
                <div>
                  <text>Weapons</text>
                </div>
                <div class="w3-row w3-border"><!-- Title Row -->
                  <text class="w3-col" style="width:16%">Weapon</text>
                  <text class="w3-col" style="width:8%">Skill</text>
                  <text class="w3-col" style="width:16%">AP/BD</text>
                  <text class="w3-col" style="width:28%">Range (S/M/L/E)</text>
                  <text class="w3-col" style="width:8%">Ammo</text>
                  <text class="w3-col" style="width:24%">Notes</text>
                </div>
                <div class="w3-row w3-border"><!-- Weapon Slot 1 -->
                  <div class="w3-col" style="width:16%">
                    <text id="character_weapons_1_name">Martial Arts</text>
                  </div>
                  <div class="w3-col" style="width:8%">
                    <input type="number" name="weapon_slot_1_skill" value="0" id="character_weapons_1_skill" />
                  </div>
                  <div class="w3-col" style="width:16%">
                    <textarea rows="1" cols="1" id="character_weapons_1_ap">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_1_bd">-</textarea>
                  </div>
                  <text class="w3-col" style="width:28%" id="character_weapons_1_range">(Melee)</text>
                  <div class="w3-col" style="width:8%">
                    <input type="number" name="weapon_slot_1_ammo" value="0" id="character_weapons_1_ammo" />
                  </div>
                  <div class="w3-col" style="width:24%">
                    <textarea rows="1" cols="8" style="white-space: pre-wrap;" id="character_weapons_1_notes">Fists and feet</textarea>
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Weapon Slot 2 -->
                  <div class="w3-col" style="width:16%">
                    <textarea rows="1" cols="8" style="white-space: pre-wrap;" id="character_weapons_2_name">-</textarea>
                  </div>
                  <div class="w3-col" style="width:8%">
                    <input type="number" name="weapon_slot_2_skill" value="0" id="character_weapons_2_skill" />
                  </div>
                  <div class="w3-col" style="width:16%">
                    <textarea rows="1" cols="1" id="character_weapons_2_ap">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_2_bd">-</textarea>
                  </div>
                  <div class="w3-col" style="width:28%">
                    <textarea rows="1" cols="1" id="character_weapons_2_range_short">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_2_range_medium">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_2_range_long">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_2_range_extreme">-</textarea>
                  </div>
                  <div class="w3-col" style="width:8%">
                    <input type="number" name="weapon_slot_2_ammo" value="0" id="character_weapons_2_ammo" />
                  </div>
                  <div class="w3-col" style="width:24%">
                    <textarea rows="1" cols="8" style="white-space: pre-wrap;" id="character_weapons_2_notes">-</textarea>
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Weapon Slot 3 -->
                  <div class="w3-col" style="width:16%">
                    <textarea rows="1" cols="8" style="white-space: pre-wrap;" id="character_weapons_3_name"></textarea>
                  </div>
                  <div class="w3-col" style="width:8%">
                    <input type="number" name="weapon_slot_3_skill" value="0" id="character_weapons_3_skill" />
                  </div>
                  <div class="w3-col" style="width:16%">
                    <textarea rows="1" cols="1" id="character_weapons_3_ap">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_3_bd">-</textarea>
                  </div>
                  <div class="w3-col" style="width:28%">
                    <textarea rows="1" cols="1" id="character_wepaons_3_range_short">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_3_range_medium">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_3_range_long">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_3_range_extreme">-</textarea>
                  </div>
                  <div class="w3-col" style="width:8%">
                    <input type="number" name="weapon_slot_3_ammo" value="0" id="character_weapons_3_ammo" />
                  </div>
                  <div class="w3-col" style="width:24%">
                    <textarea rows="1" cols="8" style="white-space: pre-wrap;" id="character_weapons_3_notes">-</textarea>
                  </div>
                </div>
                <div class="w3-row w3-border"><!-- Weapon Slot 4 -->
                  <div class="w3-col" style="width:16%">
                    <textarea rows="1" cols="8" style="white-space: pre-wrap;" id="character_weapons_4_name"></textarea>
                  </div>
                  <div class="w3-col" style="width:8%">
                    <input type="number" name="weapon_slot_4_skill" value="0" id="character_weapons_4_skill" />
                  </div>
                  <div class="w3-col" style="width:16%">
                    <textarea rows="1" cols="1" id="character_weapons_4_ap">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_4_bd">-</textarea>
                  </div>
                  <div class="w3-col" style="width:28%">
                    <textarea rows="1" cols="1" id="character_weapons_4_range_short">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_4_range_medium">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_4_range_long">-</textarea>
                    <text>/</text>
                    <textarea rows="1" cols="1" id="character_weapons_4_range_extreme">-</textarea>
                  </div>
                  <div class="w3-col" style="width:8%">
                    <input type="number" name="weapon_slot_4_ammo" value="0" id="character_weapons_4_ammo" />
                  </div>
                  <div class="w3-col" style="width:24%">
                    <textarea rows="1" cols="8" style="white-space: pre-wrap;" id="character_weapons_4_notes">-</textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w3-khaki w3-border"><!-- Skills -->
            <div>
              <text>Skills</text>
            </div>
            <div class="w3-row w3-border">
              <text class="w3-col" style="width:20%">Skill</text>
              <text class="w3-col" style="width:20%">Lvl</text>
              <text class="w3-col" style="width:20%">Links</text>
              <text class="w3-col" style="width:20%">TN/C</text>
              <text class="w3-col" style="width:20%">XP</text>
            </div>
            <div class="w3-row w3-border">
              <div class="w3-col" style="width:20%">
                <textarea rows="1" cols="20" id="character_skills_1_name">-</textarea>
              </div>
              <div class="w3-col" style="width:20%">
                <input type="number" name="" value="0" id="character_skills_1_level" />
              </div>
              <div class="w3-col" style="width:20%">
                <textarea rows="1" cols="20" id="character_skills_1_links">-</textarea>
              </div>
              <div class="w3-col" style="width:20%">
                <input type="number" name="" value="0" id="character_skills_1_tn" />
                <text>/</text>
                <textarea rows="1" cols="2" id="character_skills_1_complexity">-</textarea>
              </div>
              <div class="w3-col" style="width:20%">
                <input type="number" name="" value="0" id="character_skills_1_exp" />
              </div>
            </div>
          </div>
          <div class="w3-teal w3-border"><!-- Biography -->
            <div>
              <text>Biography</text>
            </div>
            <div class="w3-row">
              <text class="w3-half">Life Module</text>
              <text class="w3-half">Other Notes</text>
            </div>
            <div class="w3-row">
              <div class="w3-half">
                <text id="character_biography_life-module_1_name">Early Childhood</text>
              </div>
              <div class="w3-half">
                <textarea rows="1" cols="50" id="character_biography_life-module_1_notes">He was a child</textarea>
              </div>
            </div>
            <div class="w3-row">
              <div class="w3-half">
                <text id="character_biography_life-module_2_name">Late Childhood</text>
              </div>
              <div class="w3-half">
                <textarea rows="1" cols="50" id="character_biography_life-module_2_notes">He was grew up</textarea>
              </div>
            </div>
            <div class="w3-row">
              <div class="w3-half">
                <textarea rows="1" cols="50" id="character_biography_life-module_3_name">-</textarea>
              </div>
              <div class="w3-half">
                <textarea rows="1" cols="50" id="character_biography_life-module_3_notes">-</textarea>
              </div>
            </div>
          </div>
          <div class="w3-brown w3-border"><!-- Inventory -->
            <div>
              <text>Inventory</text>
            </div>
            <div class="w3-row">
              <text class="w3-third">Item</text>
              <text class="w3-third">Location</text>
              <text class="w3-third">Data/Statistics</text>
            </div>
            <div class="w3-row">
              <div class="w3-third">
                <textarea rows="1" cols="50" id="character_item_1_name">-</textarea>
              </div>
              <div class="w3-third">
                <textarea rows="1" cols="50" id="character_item_1_location">-</textarea>
              </div>
              <div class="w3-third">
                <textarea rows="1" cols="50" id="character_item_1_data">-</textarea>
              </div>
            </div>
            <div>
              <text>C-Bills :</text>
              <input type="number" name="" value="0" id="character_c-bill_amount" />
            </div>
          </div>
          <div class="w3-pink w3-borderk"><!-- Vehicle Data -->
            <div>
              <text>Vehicle Data</text>
            </div>
            <div>
              <div class="w3-row"><!-- Top Row -->
                <div class="w3-third">
                  <text>Vehicle Model/Name: </text>
                  <textarea rows="1" cols="30" id="character_vehicle_1_name">-</textarea>
                </div>
                <div class="w3-third">
                  <text>Vehicle Type: </text>
                  <textarea rows="1" cols="30" id="character_vehicle_1_type">-</textarea>
                </div>
                <div class="w3-third">
                  <text>Vehicle Mass: </text>
                  <input type="number" name="" value="0" id="character_vehicle_1_mass" />
                </div>
              </div>
              <div><!-- Vehicle Traits -->
                <text>Vehicle Traits: </text>
                <textarea rows="1" cols="30" id="character_vehicle_1_traits_1">-</textarea>
              </div>
              <div>
                <text>Notes: </text>
                <textarea rows="1" cols="30" id="character_vehicle_1_notes">-</textarea>
              </div>
            </div>
          </div>
        </div>
      </article>
      <footer class="w3-center w3-light-grey"><!-- Footer here -->
        <font size="1">
          <a href="http://bg.battletech.com/">Battletech</a>
          <text> is licensed under </text>
          <a href="https://www.topps.com/">Topps</a>
          <text> and </text>
          <a href="http://catalystgamelabs.com/">Catalyst Game Labs</a>
        </font>
      </footer>
    </div>
  </body>
</html>
